body{
	background-color: black;
}

.svgWrapper{
	height: 100vh;
	width: 100%;
}

.countryPath{
	stroke:ivory;
	stroke-width:.075;
	opacity: .8;
}

.countryPath:hover{
	opacity: 1;
	stroke: white;
	stroke-width: .175;
}

.spherePath{
	fill: navy
}